/* Pagina Creada por Anthony(Ellider)-_- */

:root {
    --color-primario: #B19470;
    --color-secundario: #272727;
    --color-terceario: #DCC5A1;
    --color-cuartario: #fff;
    --color-hover: #272727;
    --color-gris: #808080; /* Gris */
    --color-rojo: #FF0000; /* Definición de rojo */
    --color-azul: #87CEEB; /* Azul cielo */
    --color-blanco-ivory: #F1F1F1; /* Blanco marfil suave */
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --fuente-New-Roman: 'Lato', 'Times New Roman', serif;
    --fuente-poppins: "Poppins", sans-serif;
    --fuente-raleway: "Raleway", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el menú */
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
    background-color: var(--color-blanco-ivory); /* Fondo blanco del header */
}

.logo {
    margin-left: 10px; /* Mantén el espacio entre el logo y el menú */
}

.header__logo {
    margin-left: 10px; /* Mantén el espacio entre el logo y el menú */
}

.header__logo .logo {
    max-width: 100px; /* Ajusta el tamaño del logo si es necesario */
    height: 100px;
    border: none; /* Asegura que no haya borde debajo del logo */
    position: relative;
}

.header__Menu {
    display: flex;
    align-items: center; /* Alinea verticalmente los enlaces */
    gap: 20px; /* Espacio entre los enlaces del menú */
    justify-content: center; /* Centra el contenido dentro del menú */
}

.header__Menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-terceario);
    text-decoration: none;
    position: relative; /* Necesario para los pseudo-elementos */
}

.header__Menu__link_catalogo-link {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-azul); /* Azul cielo */
    text-decoration: none;
    position: relative; /* Necesario para los pseudo-elementos */
}

/* La barrita solo debe aparecer debajo de los enlaces dentro del header__Menu, no en el logo */
.header__Menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px; /* Ajusta esto para acercar la barra al enlace */
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.header__Menu a:hover::after {
    opacity: 1;
}

.header__Menu a:hover {
    color: #fff;
}

.header__Menu a {
    text-decoration: none;
    font-weight: 600;
}

/* Aseguramos que el logo no tenga barra debajo */
.header__logo a::after {
    content: none;
}

/* Aplica el cursor de la manita solo cuando el mouse está sobre el logo */
.header__logo a {
    cursor: default; /* Hace que no aparezca la manita cuando no está encima */
}

.header__logo a:hover {
    cursor: pointer; /* Aparece la manita solo cuando se pasa por encima del logo */
}



/* Define las animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Inicialmente, el header está oculto */
.header.hidden {
    animation: fadeOut 0.5s forwards; /* Hace que el header desaparezca en 0.5 segundos */
}

/* Cuando el header está visible */
.header.visible {
    animation: fadeIn 0.5s forwards; /* Hace que el header aparezca en 0.5 segundos */
}

.titulo-destaque {
    color: var(--color-rojo);
}

.presentacion {
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor si es necesario */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding y border en el cálculo del ancho total */
}

.presentacion__contenido {
    display: flex; /* Usa flexbox para el contenedor de texto y la imagen */
    align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
    width: 100%;
    margin-bottom: 40px; /* Espacio debajo del texto y la imagen */
}

.presentacion__texto {
    flex: 1; /* El texto ocupará todo el espacio disponible */
    margin-right: 20px; /* Espacio entre el texto y la imagen */
    font-family: var(--fuente-raleway);
}

.presentacion__contenido__titulo {
    font-size: 1.5rem;
    font-family: var(--fuente-New-Roman);
    margin: 0;
    text-align: center; /* Alinea el título al centro */
    color: var(--color-azul);
    margin-bottom: 60px; /* Espacio entre el título y el texto */
}

.presentacion__contenido__titulo2 {
    font-size: 1.5rem;
    font-family: var(--fuente-raleway);
    margin: 0;
    text-align: center; /* Alinea el título al centro */
    color: var(--color-azul);
    margin-bottom: 40px; /* Espacio entre el título y el texto */
}

.presentacion__contenido__titulo3 {
    font-size: 1.5rem;
    font-family: var(--fuente-New-Roman);
    margin: 0;
    text-align: left; /* Alinea el título al centro */
    color: var(--color-secundario);
    margin-bottom: 20px; /* Espacio entre el título y el texto */
    text-align: center; /* Alinea el texto en el centro */
}

.presentacion__contenido__texto {
    font-size: 1rem;
    font-family: var(--fuente-raleway);
    color: var(--color-secundario);
    text-align: justify; /* Justifica el texto, alineando ambos márgenes */
    margin: 0;
    padding: 0;
    margin-bottom: 20px; /* Espacio entre párrafos */
    line-height: 2.0; /* Mejora la legibilidad del texto */
    margin-bottom: 20px; /* Ajusta este valor para proporcionar el espacio necesario entre la imagen y el texto */
}

.presentacion__contenido__texto2 {
    font-size: 1rem;
    font-family: var(--fuente-raleway);
    text-align: justify; /* Justifica el texto, alineando ambos márgenes */
    margin: 0;
    padding: 0;
    line-height: 1.5; /* Mejora la legibilidad del texto */
    color: var(--color-secundario);
    margin-bottom: 40px; /* Espacio entre el título y el texto */
}

.presentacion__imagen {
    max-width: 50%; /* Ajusta el ancho máximo para hacer la imagen más grande */
    width: 30%; /* Ajusta el ancho de la imagen para que sea más grande */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform .5s; /* Transición para suavizar el movimiento */
    margin-bottom: 20px; /* Ajusta este valor para proporcionar el espacio necesario entre la imagen y el texto */
    margin-left: 100px; /* Ajusta este valor para mover la imagen más a la derecha */
    margin-top: 60px; /* Ajusta este valor para mover la imagen más abajo */
}

.presentacion__imagen:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.presentacion__imagenes {
    display: flex;
    flex-direction: row; /* Asegura que las imágenes se coloquen en una fila */
    gap: 20px;
    margin-bottom: 40px; /* Espacio debajo de las imágenes */
}

.presentacion__imagenes img {
    width: 300%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform .5s; /* Transición para suavizar el movimiento */
    gap: 20%;
}

.presentacion__imagenes img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.presentacion__imagen__portada {
    width: 100%;
    max-width: 100%; /* Ajusta el ancho máximo para que se ajuste al contenedor */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    object-fit: cover;
    transition: transform .5s; /* Transición para suavizar el movimiento */
}

.presentacion__imagen__portada:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulos {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces_link {
    width: 50%;
    border: 2px solid var(--color-gris);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-gris);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces_link:hover {
    background-color: var(--color-hover);
}


/* Footer */
.footer {
    background-color: var(--color-cuartario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .container-items {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 992px) {
    .container-items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .container-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .container-items {
        grid-template-columns: 1fr;
    }
}

/* Animación de imagen */
@keyframes suaveMovimiento {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

/* Body */
body {
    font-family: 'Lato', 'Times New Roman', serif;
    background-color: var(--color-blanco-ivory);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-blanco-ivory);
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    z-index: 0;
}

/* Iconos */
.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #fff;
}

.icon-cart:hover {
    cursor: pointer;
    stroke: #ccc;
}

img {
    max-width: 100%;
}

/* Estilos adicionales para el carrito y los productos */
.container-icon {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px
    }

    .precio-producto-carrito {
        font-weight: 700;
        font-size: 20px;
        margin-left: 10px;
    }
    
    .cantidad-producto-carrito {
        font-weight: 400;
        font-size: 20px;
    }
    
    .icon-close {
        width: 25px;
        height: 25px;
    }
    
    .icon-close:hover {
        stroke: red;
        cursor: pointer;
    }
    
    .cart-total {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
    }
    
    .cart-total h3 {
        font-size: 20px;
        font-weight: 700;
    }
    
    .total-pagar {
        font-size: 20px;
        font-weight: 900;
    }
    
    .hidden-cart {
        display: none;
    }
    
    /* Main */
    .container-items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        position: relative;
        z-index: 1;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .item {
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        transition: box-shadow .3s ease-in-out;
        max-width: 200px; /* Ajusta el ancho máximo */
        max-height: 300px; /* Ajusta la altura máxima */
    }
    
    .item:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
    
    .item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: transform .5s;
    }
    
    .item:hover img {
        transform: scale(1.2);
    }
    
   
    .price{
    font-size: 18px;
    font-weight: 900;
    }

    
    .info-product button {
        border: none;
        background-color: #000;
        color: #fff;
        padding: 15px 10px;
        cursor: pointer;
    }
    
    /* Footer */
    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    
    h1, p {
        font-family: 'Times New Roman', serif;
    }
    
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .footer-section {
        flex: 1;
        padding: 10px;
        min-width: 200px;
    }
    
    .footer-section h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .footer-section p {
        font-size: 14px;
        line-height: 1.6;
    }
    
    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin: 10px 0;
    }
    
    .footer-section ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer-section ul li a:hover {
        text-decoration: underline;
    }
    
    .footer-bottom {
        border-top: 1px solid #555;
        padding: 10px;
    }
    
    .footer-bottom p {
        margin: 0;
        font-size: 14px;
    }
    
    /* Responsive Design */
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            align-items: center;
        }
    
        .footer-section {
            margin-bottom: 20px;
        }
    }
    
    @media (max-width: 1200px) {
        .container-items {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    
    @media (max-width: 992px) {
        .container-items {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (max-width: 768px) {
        .container-items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media (max-width: 576px) {
        .container-items {
            grid-template-columns: 1fr;
        }
    }

    .container-fotos-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
        gap: 20px;
        position: relative;
        z-index: 1;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        margin-bottom: 20px; /* Espacio entre filas de elementos */
        max-width: 850px; /* Ajusta el ancho máximo del contenedor */
    }
    
    .foto-item {
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        transition: box-shadow .3s ease-in-out;
        margin-bottom: 40px; /* Espacio entre la imagen y el texto */
        text-align: center; /* Alinea el texto en el centro */
    }
    
    .foto-item:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
    
    .foto-item img {
        width: 100%; /* Asegura que las imágenes ocupen el 100% del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        max-width: 150px; /* Ajusta el ancho máximo de las imágenes a 150px */
        max-height: 150px; /* Ajusta la altura máxima de las imágenes a 150px */
        object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
        transition: transform .5s;
    }
    
    /* Añadir espacio entre la imagen y el texto */
    .foto-item .info-product {
        padding: 15px;
        background-color: #fff; /* Asegúrate de que el fondo sea blanco si quieres que el texto se vea claramente */
       
    }
    
    .info-product{
        padding: 15px 30px;
        line-height: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .about{
        font-size: 18px;
        font-weight: 900;
        gap: 20px;
        text-align: center; /* Alinea el texto en el centro */
    }
   
    .presentacion__contenido__texto__servicios {
        font-size: 1rem;
        font-family: var(--fuente-raleway);
        text-align: center; /* Alinea el texto a la izquierda */
        margin: 0;
        padding: 0;
        line-height: 1.5; /* Mejora la legibilidad del texto */
        color: var(--color-gris);
        margin-bottom: 20px; /* Espacio entre el título y el texto */
    }

/* Imagen panoramica */
    .carousel-container {
        position: relative; /* Asegura que la imagen esté en relación al contenedor */
        height: 1500px; /* Ajusta la altura según sea necesario */
        width: 5600%; /* Asegúrate de que el contenedor se estire más allá de los límites normales */
        left: -30%; /* Mueve la imagen hacia la izquierda para compensar el estiramiento hacia la derecha */
        background-position: center; /* Ajusta la posición de la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-size: cover; /* La imagen cubre todo el contenedor manteniendo su calidad */
        padding: 0; /* Elimina el padding si no es necesario */
        box-sizing: border-box; /* Asegura que el tamaño total incluye padding y border */
        margin-bottom: 40px; /* Ajusta este valor para proporcionar el espacio necesario entre la imagen y el texto */
    }
    
    .carousel-container {
        position: relative;
        width: 159.3%; /* Ajusta al 100% del ancho disponible */
        overflow: hidden;
        height: 600px; /* Ajusta la altura según sea necesario */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carousel-slides {
        display: flex;
        width: calc(100% * 3); /* El ancho debe ser suficiente para todas las imágenes */
        animation: slide 120s infinite; /* Animación continua */
    }
    
    .carousel-slide {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carousel-slide img {
        width: 100%; /* Ajusta el ancho para que cada imagen ocupe su espacio */
        height: auto;
        object-fit: cover; /* Cubre el área sin distorsionar la imagen */
        display: block;
    }
    
    
    
    @keyframes slide {
        0% { transform: translateX(0%); }
        33.33% { transform: translateX(-100%); } /* Mueve una imagen */
        66.66% { transform: translateX(-200%); } /* Mueve dos imágenes */
        100% { transform: translateX(-300%); } /* Vuelve al inicio */
    }

    .video-estilo-container {
        width: 100%; /* Ajusta el ancho del contenedor al 100% */
        display: flex;
        justify-content: center; /* Centra el video horizontalmente */
        margin: 20px 0; /* Espacio superior e inferior para despegar el video */
    }
    
    .video-estilo {
        width: 100%; /* Ajusta el ancho del video al 100% del contenedor */
        max-width: 900px; /* Establece un ancho máximo mayor para el video */
        height: 450px; /* Define una altura fija para el video */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor del video */
        border: none; /* Sin borde */
        margin-top: 40px; /* Espacio adicional arriba */
        margin-bottom: 40px; /* Espacio adicional abajo */
    }

    .resolucion {
        width: 99%;
        text-align: center;
    }
    
    
   
    
   
/* Para pantallas grandes (ordenadores) */
@media (min-width: 1025px) {
    .desktop {
        display: block;
    }
    .tablet, .movil {
        display: none;
    }
    .presentacion__imagenes {
        display: flex;
        justify-content: space-between;
    }
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .tablet {
        display: block;
    }
    .desktop, .movil {
        display: none;
    }
    .presentacion__imagenes {
        display: block;
    }
}

/* Para móviles */
@media (max-width: 767px) {
    .movil {
        display: block;
    }
    .desktop, .tablet {
        display: none;
    }
    .carousel-container {
        position: relative;
        width: 130%; /* Ajusta al 100% del ancho disponible */
        overflow: hidden;
        height: 600px; /* Ajusta la altura según sea necesario */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carousel-slides {
        display: flex; /* Alinea las imágenes en línea */
        transition: transform 0.5s ease; /* Suaviza la transición al mover las imágenes */
    }
    
    .carousel-slide {
        min-width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        margin: 0 10px; /* Agrega espacio entre las imágenes */
    }
    
    .carousel-slide img {
        width: 100%; /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }
  

    /* Flex direction para header en móvil */
    .header__Menu {
        flex-direction: column;
        margin-left: -20px; /* Ajusta este valor para mover el contenedor hacia la izquierda */
        margin-bottom: 40px; /* Espacio entre imagen y texto numerado */
        font-size: -1rem;
    }

    /* Imagen y texto enumerado se acomodan uno debajo del otro */
    .presentacion__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    .header__Menu {
        display: flex;
        flex-direction: column; /* Cambia a columna si deseas que los elementos del menú estén en línea */
        align-items: center; /* Alinea el contenido verticalmente */
        margin-left: 20px; /* Mueve el menú un poco a la derecha */
    }

    .presentacion__header__Menu__link {
         margin: 0 10px; /* Espaciado entre los enlaces */
    font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
    
    }

    /* Aumentar el tamaño de la imagen en móviles */
    .container-fotos-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
        gap: 20px;
        position: relative;
        z-index: 1;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        margin-bottom: 20px; /* Espacio entre filas de elementos */
        max-width: 850px; /* Ajusta el ancho máximo del contenedor */
        width: 100%; /* Ocupa el 100% del ancho disponible */
    }
    
    .foto-item {
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        transition: box-shadow .3s ease-in-out;
        margin-bottom: 40px; /* Espacio entre la imagen y el texto */
        text-align: center; /* Alinea el texto en el centro */
    }
    
    .foto-item:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
    
    .foto-item img {
        width: 100%; /* Asegura que las imágenes ocupen el 100% del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        max-width: 150px; /* Ajusta el ancho máximo de las imágenes a 150px */
        max-height: 150px; /* Ajusta la altura máxima de las imágenes a 150px */
        object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
        transition: transform .5s;
    }
    

    /* Asegura que el texto esté centrado */
    .presentacion__texto {
        text-align: center;
        padding: 10px;
        font-size: 1.7rem;
    }

    .header__logo {
        margin-left: -20px; /* Aumenta el valor para mover más a la izquierda en móviles */
        margin-right: 20;
        margin-top: -100px; /* Ajusta este valor para subir el logo más arriba */
    }

    /* Texto numerado debe ir debajo de la imagen */
    .presentacion__texto-enumerado {
        text-align: right;
        margin-top: 30px; /* Espacio adicional entre la imagen y el texto numerado */
        margin-bottom: 20px; /* Espacio entre imagen y texto numerado */
    }

    /* Ajustar tamaño de los números si es necesario en móvil */
    .presentacion__numero {
        font-size: 1.7rem;
    }
}

.header__Menu__link {
    font-size: -1rem; /* Tamaño de fuente por defecto (puedes ajustarlo) */
    text-decoration: none; /* Para quitar el subrayado de los enlaces */
    color: #DCC5A1; /* Color del texto (ajusta según sea necesario) */
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    .header__Menu__link {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño en móviles */
    }

}

/* Para móviles */
@media (max-width: 767px) {
    .presentacion__imagenes {
        display: flex;
        flex-direction: column; /* Asegura que las imágenes estén una debajo de la otra */
        align-items: center; /* Centra las imágenes */
    }
    
    .presentacion__imagenes img {
        width: 200%; /* Ajusta este valor según necesites */
        max-width: 300px; /* Establece un ancho máximo para que no sean demasiado grandes */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-bottom: 20px; /* Espacio entre las imágenes */
    }

    .presentacion__imagen {
        width: 80%; /* Ajusta este valor para cambiar el tamaño de la imagen */
        max-width: 300px; /* Establece un ancho máximo si lo deseas */
        height: auto; /* Mantiene la proporción de la imagen */
        margin: 20px auto; /* Espacio alrededor de la imagen y centra horizontalmente */
        display: block; /* Asegura que la imagen se comporte como un bloque */
    }

    .presentacion {
        width: 100vw; /* Cambiar a 100vw para ocupar todo el ancho de la ventana */
        max-width: none; /* Eliminar el ancho máximo */
        margin: 20px 0; /* Espacio arriba y abajo, sin margen lateral */
        padding: 0; /* Eliminar el padding lateral */
        display: flex; /* Usar flexbox para centrar elementos */
        flex-direction: column; /* Alinear en columna */
        align-items: center; /* Centrar horizontalmente */
    }
    
    .presentacion__contenido {
        display: flex; /* Usar flexbox para alinear los íconos */
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
        justify-content: space-around; /* Espacio uniforme entre elementos */
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 0; /* Espacio alrededor del contenido */
        box-sizing: border-box; /* Asegurar que el padding no afecte el ancho total */
        max-width: none; /* Sin límite en el ancho */
    }
    
    
    .foto-item {
        flex: 1 1 150px; /* Ajustar el tamaño */
        max-width: 30%; /* Ancho máximo de los íconos (ajusta según sea necesario) */
        margin: 10px; /* Espacio entre íconos */
        text-align: center; /* Centrar texto debajo del ícono */
    }
    
    .foto-item img {
        width: 20px; /* Aumentar el tamaño del ícono */
        height: auto; /* Mantener la proporción */
    }
    
    .presentacion__contenido__titulo4,
    .presentacion__contenido__texto {
        font-size: 0.35rem; /* Tamaño de fuente */
        margin: 5px 0; /* Espacio entre texto */
    }

    .presentacion__contenido__titulo3 {
        font-size: 0.3rem; /* Tamaño de fuente más pequeño para el título */
    }
    
    .presentacion__contenido__texto__servicios {
        font-size: 0.35rem; /* Tamaño de fuente */
        justify-content: space-around;
        overflow: visible; /* Asegúrate de que el texto no se corte */
        width: 100%; /* Ajusta el ancho según sea necesario */
        line-height: 1.2; /* Mejora la legibilidad */
        margin: 5px 0; /* Espacio entre texto */
        text-align: center; /* Centrar texto debajo del ícono */
    }

    .presentacion__contenido__texto {
        font-size: 0.9rem;
        font-family: var(--fuente-raleway);
        color: var(--color-gris);
        text-align: justify; /* Justifica el texto */
        margin: 0 auto; /* Centra el bloque de texto en el contenedor */
        padding: 0;
        margin-bottom: 20px;
        line-height: 2.0; /* Mejora la legibilidad del texto */
        width: 80%; /* Ajusta este valor para cambiar el ancho del bloque de texto */
    }

    .presentacion__contenido__texto2 {
        font-size: 0.9rem;
        font-family: var(--fuente-raleway);
        color: var(--color-primario);
        text-align: justify; /* Justifica el texto */
        margin: 0 auto; /* Centra el bloque de texto en el contenedor */
        padding: 0;
        margin-bottom: 20px;
        line-height: 2.0; /* Mejora la legibilidad del texto */
        width: 80%; /* Ajusta este valor para cambiar el ancho del bloque de texto */
    }


  /* Main */
.container-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive basado en el espacio disponible */
    gap: 20px;
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    justify-items: center; /* Centra las imágenes horizontalmente */
    align-items: center;   /* Centra las imágenes verticalmente */
}

.item {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow .3s ease-in-out;
    display: flex; /* Hacer que el contenedor use flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Asegura que el texto quede debajo de la imagen */
}

.item img {
    width: 100%;
    max-width: 300px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene las proporciones */
    object-fit: cover;
    transition: transform .5s;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #808080;
    text-align: center; /* Centra el texto debajo de la imagen */
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background-color: #B19470;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
}



/*scroll */
@keyframes show {
    from{
        opacity: 0; scale: 10%;
    }

    to{
        opacity: 1; scale: 100%;
    }
}

.item {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.foto-item {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.foto-item {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.presentacion__imagen {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.presentacion__imagenes{
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}


/* Media Queries Responsivos */

/* Para pantallas medianas (laptops) */
@media (max-width: 1200px) {
    .container-items {
        grid-template-columns: repeat(4, 1fr); /* Ajuste para 4 columnas */
    }
}

/* Para pantallas medianas/pequeñas (tablets) */
@media (max-width: 992px) {
    .container-items {
        grid-template-columns: repeat(3, 1fr); /* Ajuste para 3 columnas */
    }
}

/* Para pantallas pequeñas (teléfonos grandes) */
@media (max-width: 768px) {
    .container-items {
        grid-template-columns: repeat(2, 1fr); /* Ajuste para 2 columnas */
    }
}

/* Para pantallas muy pequeñas (teléfonos pequeños) */
@media (max-width: 576px) {
    .container-items {
        grid-template-columns: 1fr; /* Ajuste para 1 columna */
    }

    * {
        box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    }

    .container-fotos-items {
        flex: 1 1 150px; /* Ajustar el tamaño */
        width: 100%; /* Asegura que ocupe el 100% del espacio */
        max-width: 900px; /* Ajusta el ancho máximo según tu diseño */
        margin: 10px auto; /* Centra el contenedor y espacio entre íconos */
        text-align: center; /* Centrar el texto debajo de los íconos */
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Dos columnas por fila */
        gap: 20px;
        position: relative;
        z-index: 1;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px; /* Espacio entre filas de elementos */
        justify-items: center; /* Centra las imágenes horizontalmente */
        align-items: center;   /* Centra las imágenes verticalmente */

        max-width: none; /* Permitir que el contenedor ocupe todo el ancho disponible */
    padding: 0; /* Elimina el padding si es necesario */
    margin: 0 auto; /* Centrar el contenedor si es necesario */

    }
    
    .foto-item {
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        transition: box-shadow 0.3s ease-in-out;
        margin-bottom: 40px; /* Espacio entre la imagen y el texto */
        text-align: center; /* Alinear el texto al centro */
      
    }
    
    .foto-item:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
    
    .foto-item img {
        width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
        transition: transform 0.5s;
    }
    
    .foto-item:hover img {
        transform: scale(1.2); /* Efecto de zoom al hacer hover */
    }
    
    /* Añadir espacio entre la imagen y el texto */
    .foto-item .info-product {
        padding: 15px;
        background-color: #fff; /* Asegúrate de que el fondo sea blanco si quieres que el texto se vea claramente */
    }
    
    .presentacion__contenido__texto__servicios {
        text-align: center; /* Justifica el texto */
    font-size: 0.6rem; /* Tamaño de fuente */
    margin: 5px 0; /* Espacio entre el texto */
    line-height: 1.5; /* Ajustar el espaciado de línea para mejorar legibilidad */
    width: 100%; /* Asegurar que el texto ocupe todo el ancho del contenedor */
    padding: 0; /* Elimina el padding */
    }
    
    .presentacion__contenido__titulo3 {
        font-size: 0.7rem; /* Tamaño de fuente adecuado para el título */
        text-align: center; /* Centrar el título */
        margin-bottom: 10px; /* Espacio debajo del título */
        
    }
    
    @media (max-width: 768px) {
        .container-fotos-items {
            grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas más pequeñas */
           
        }
    }
}

/* Estilo para el header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Espacio alrededor de los elementos */
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-blanco-ivory);
    z-index: 1000;
}

/* Estilo para el logo */
.header__logo img {
    max-height: 80px; /* Ajusta el tamaño del logo */
    width: auto;
}

/* Estilo para el icono de hamburguesa */
.menu-toggle {
    display: none; /* Ocultamos el icono en pantallas grandes */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 5px;
}

/* Estilo para el menú de navegación */
.header__Menu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end; /* Alinea el menú a la derecha */
}

/* Estilo del menú en dispositivos móviles */
@media (max-width: 768px) {
    /* Ocultamos el menú en pantallas pequeñas por defecto */
    .header__Menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: right; /* Alinea los elementos del menú a la derecha */
        background-color: var(--color-blanco-ivory);
        position: absolute;
        top: 90px;
        right: 0; /* Alinea el menú a la derecha */
        padding: 10px 0;
        opacity: 0; /* Inicialmente invisible */
        max-height: 0; /* Inicialmente no tiene altura */
        overflow: hidden; /* Oculta el contenido excedente */
        transition: opacity 0.7s ease, max-height 0.5s ease-out; /* Animación suave */
    }

    .header__Menu.active {
        opacity: 1; /* Hace el menú visible */
        max-height: 500px; /* Ajusta según el tamaño de tu menú */
    }

    /* Mostramos el icono de hamburguesa solo en pantallas pequeñas */
    .menu-toggle {
        display: flex;
    }
}

/* Estilos adicionales */
.header__Menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-terceario);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.header__Menu__link:hover {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

.header__logo {
    margin-left: -20px; /* Ajusta el valor si es necesario */
    margin-top: 0; /* O pon un valor más pequeño como 10px */
}

.container-fotos-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila en PC */
    gap: 20px;
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-bottom: 20px; /* Espacio entre filas de elementos */
    max-width: 850px; /* Ajusta el ancho máximo del contenedor */
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .container-fotos-items {
        grid-template-columns: 1fr; /* Una sola columna por fila en móviles */
        max-width: 250px; /* Ajusta el ancho máximo del contenedor */
    }
}


/* Ajuste para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .map-container {
        display: flex; /* Usamos flexbox para centrar el mapa */
        justify-content: center; /* Centra el mapa horizontalmente */
        align-items: center; /* Centra el mapa verticalmente */
    
        margin: 0; /* Elimina márgenes */
    }

    .map-container iframe {
        
        max-width: none; /* Elimina el límite de ancho máximo */
        border: none; /* Sin borde */
    }
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .foto-item {
        grid-template-columns: 1fr; /* Una sola columna por fila en móviles */
        max-width: 250px; /* Ajusta el ancho máximo del contenedor */
    }
}


/* Testimonial Section */
.container-xxl.py-5 {
    background-color: #f1f1f1;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra los elementos dentro del contenedor */
    text-align: center 100px; /* Centra el texto horizontalmente */
}

.section-title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #00aeff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.display-5 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #00aeff;
    margin-bottom: 40px;
}

.testimonial-carousel {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.testimonial-item {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: all 0.4s ease;
}

.testimonial-item:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Estilo de las imágenes */
.testimonial-item img {
    width: 120px; /* Ajusta el tamaño de la imagen */
    height: 120px;
    object-fit: cover;
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    margin-bottom: 20px;
}

.testimonial-item p {
    font-size: 1rem;
    font-style: italic;
    color: #555;
    margin-bottom: 25px;
}

.testimonial-item h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

.testimonial-item span {
    font-size: 1rem;
    font-weight: 500;
    color: #00aeff;
}

.testimonial-item[data-dot] {
    position: relative;
    padding-top: 50px;
}

.testimonial-item[data-dot]::before {
    content: attr(data-dot);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
}

/* Estilo del carrusel */
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    background-color: #007bff;
    color: #fff;
    font-size: 2.5rem;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .testimonial-carousel {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-item {
        width: 80%;
        margin-bottom: 30px;
    }

    .display-5 {
        font-size: 1.8rem;
    }
}